.MainCard{
    display: flex;
    justify-content: space-evenly;
    margin: 5%;
    border: 0px;
}

.Titulos{
    justify-content: center;
    width: auto;
}

a{
    justify-content: center;
    text-align: center;
    margin-top: 0%;
    align-items: center;
}

#Login{
    width: auto;
    justify-content: center;
    
}

.Titulos{
    text-align: center;
    justify-content: center;
}

#containerP{
  margin: 2%;
  width: 96%;
}

.guardarcambios{
    margin: 2%;
    width: 15%;
}

#Perfil{
    display: inline;
}

#containerL{
    width: 25%;
    justify-content: center;
    margin: auto;
}

img {
    height: 100%;
}