.content-header {
  height: 30vh;
  display: flex;
  align-items: center;
}
.content-info {
  display: flex;
  flex-direction: column;
}

p {
  text-align: justify;
}
.content-info p {
  font-size: 1rem;
}
.content-info h1 {
  font-size: 3rem;
  font-weight: bolder;
}
