.content-header {
    height: 30vh;
    display: flex;
    align-items: center;
}
.content-info {
    display: flex;
    flex-direction: column;
}

p {
    text-align: justify;
}
.content-info p {
    font-size: 1rem;
}
.content-info h1 {
    font-size: 3rem;
    font-weight: bolder;
}
.paginacion {
    margin: 20px 0;
}

.paginacion ul {
    list-style: none;
    text-align: center;
}
.paginacion ul li {
    display: inline-block;
    margin-right: 10px;
}

.paginacion ul li a {
    display: block;
    padding: 10px 20px;
    color: white;
    background:rgba(25, 176, 121, 0.67);
    text-decoration: none;
}

.paginacion ul li a:hover{
    background: rgba(9, 93, 23, 0.77);
}

.paginacion ul li .active {
    background: rgba(241, 221, 36, 0.4);
    font-weight: bold;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 90%;
    margin: 100px auto;
}

.container-faq {
    box-shadow: 0 0 15px -1px rgba(164, 161, 11, 0.1);
    padding: 30px;
}

.container-faq .title-faq {
    text-align: right;
    font-size: 2rem;
    margin-bottom: 30px;
}

.container-faq .item-faq {
    box-shadow: 0 0 15px -1px rgba(24, 34, 8, 0.2);
    margin-bottom: 20px;
    border-radius: 40px;
}

.container-faq .item-faq .question {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(68, 211, 159, 0.67);   
    padding: 20px 40px 20px 60px;
    transition: .4s;
}


.checked {
    color: orange;
  }
