#container {
    margin: 2%;
    width: 96%;
  }
  
  .recuadro {
    height: 700px;
  }
  
  .linea {
    line-height: 200%;
  }
  .lista {
    width: 30%;
    margin: 50px;
  }
 .boton{
    margin-top: 20px;
    margin-left: 20px;
    color: aquamarine;

 }  